<div class="topContainer container-fluid bg-light py-3">
  <div class="row align-items-center">
    <!-- Logo Section -->
    <div class="col-md-2 col-sm-12 text-center">
      <img src="assets/JETSKILOGO.png" alt="Company Logo" class="img-fluid" style="max-height: 80px;" />
    </div>
    <!-- Company Name -->
    <div class="col-md-6 col-sm-12 text-center">
      <h2 class="m-0">Jet Ski and More</h2>
    </div>
    <!-- Navigation Links -->
    <div class="col-md-4 col-sm-12 text-end">
      <nav>
        <a href="#" class="text-decoration-none mx-2 text-dark">Home</a>
        <a href="#" class="text-decoration-none mx-2 text-dark">Rentals</a>
        <a href="#" class="text-decoration-none mx-2 text-dark">Contact</a>
      </nav>
    </div>
  </div>
</div>
<div class="MiddleContainer col-md-12 col-lg-12 col-sm-12">

</div>
